<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> > <i class="fa fa-users"></i> Users
</div>
<div class="text-left">
    <h2><i class="fa fa-users"></i> Users</h2>
    <div class="container-fluid well" ng-repeat="(index, user) in vm.users">
        <span style="font-size:20px;">{{user.username}}: {{user.email}}</span>
        <div style="float:right;">
            <a class="btn btn-primary" href="/users/edit/{{user._id}}">
                <i class="fa fa-edit"></i> Edit
            </a>
            <button class="btn btn-danger" ng-click="vm.deleteUser(user._id)" ng-disabled="vm.users.length <= 1">
                <i class="fa fa-close"></i> Delete
            </button>
        </div>
    </div>
    <div class="text-right">
        <a class="btn btn-success" href="/users/new">
            <i class="fa fa-plus"></i> New User
        </a>
    </div>
</div>