body {
    text-align: center;
    margin: 0px;
}

textarea {
    resize: vertical;
}

.header {
    background-color: #883333;
    padding: 6px;
    margin: 0px 0px 12px 0px;
    box-shadow: 0px 4px 4px #888888;
}

.header-menu {
    color: white;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 5px;
}

.header-title {
    color: white;
    font-size: 28px;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

@media only screen and (min-width: 800px) {
    .header-title img {
        height: 50px;
        margin-top: -5px;
        margin-right: -4px;
        padding-left: 8px;
    }
}

@media only screen and (max-width: 800px) {
    .header-title img {
        height: 50px;
        margin-top: -5px;
        margin-left: -15px;
        margin-right: -8px;
        padding-left: 0px;
    }
}


.header-title:hover {
    color: white;
    text-decoration: none;
}

.header-title:link {
    color: white;
    text-decoration: none;
}

.header-title:visited {
    color: white;
    text-decoration: none;
}

.header-title:active {
    color: white;
    text-decoration: none;
}

.bg {
    margin: 5px;
    padding: 6px;
}
.well-header {
    font-size: 25px;
}

.breadcrumb {
    text-align: left;
}

.status {
    font-size: 24px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #E5E5E5;
}

.footer-container {
    width: auto;
    max-width: 1150px;
    padding: 0 0px;
}

.footer-container .text-muted {
    margin: 10px 0;
}

.log-entry:hover {
    background-color: #E8E8E8;
}