body {
    text-align: center;
    margin: 0px;
}

.header {
    background-color: #883333;
    margin-bottom: 14px;
    padding: 6px;
}

.header-title {
    color: white;
}

.well-header {
    font-size: 25px;
}
.well {
    background-color: #CCC;
    padding: 8px;
}