<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> > <a href="/projects"><i class="fa fa-folder-open"></i> Projects</a> > <i class="fa fa-edit"></i> {{vm.id ? 'Configure' : 'New'}}
</div>
<div class="text-left" class="form-group" ng-if="!vm.loading">
    <h2><i class="fa fa-folder-open"></i> {{vm.id ? 'Configure Project' : 'New Project'}}</h2>
    <br>
    <div class="row">
        <div class="col-md-2 well-header">General</div>
        <div class="col-md-10 container-fluid well">
            <label>Name</label>
            <input class="form-control" type="text" ng-model="vm.project.name">
            <br>
            <label><input type="checkbox" ng-model="vm.project.settings.haltOnFailure"> Halt deploy on step failure.</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Authentication</div>
        <div class="col-md-10 container-fluid well">
            <div class="form-group" style="max-width:250px;">
                <label>Username:</label>
                <input class="form-control" type="text" ng-model="vm.project.auth.username" autocomplete="off">
                <br>
                <label for="authType">Authentication Type:</label>
                <select class="form-control" id="authType" ng-model="vm.project.auth.type">
                    <option value="password">Password</option>
                    <option value="key">SSH Key</option>
                </select>
            </div>
            <div ng-if="vm.project.auth.type == 'password'">
                <label>Password:</label>
                <input class="form-control" type="password" ng-model="vm.project.auth.password" autocomplete="off">
            </div>
            <div ng-if="vm.project.auth.type == 'key'">
                <label>SSH Key:</label>
                <textarea class="form-control" rows="4" ng-model="vm.project.auth.key"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Servers</div>
        <div class="col-md-10 container-fluid well">
            <div ng-repeat="(index, server) in vm.project.servers">
                <label>Server #{{index+1}}</label> <button ng-click="vm.removeServer(index)" class="btn btn-danger btn-xs" style="float:right;"><i class="fa fa-close"></i></button>
                <input class="form-control" type="text" ng-model="vm.project.servers[index].host">
                <br>
            </div>
            <div class="text-right">
                <button class="btn btn-success" ng-click="vm.addServer()">
                    <i class="fa fa-plus"></i> Add Server
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Steps</div>
        <div class="col-md-10 container-fluid well">
            <div ng-repeat="(index, step) in vm.project.steps">
                <label>Step #{{index+1}}</label> <button ng-click="vm.removeStep(index)" class="btn btn-danger btn-xs" style="float:right;"><i class="fa fa-close"></i></button>
                <textarea class="form-control" rows="4" ng-model="vm.project.steps[index].commands"></textarea>
                <br>
            </div>
            <div class="text-right">
                <button class="btn btn-success" ng-click="vm.addStep()">
                    <i class="fa fa-plus"></i> Add Step
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Monitoring</div>
        <div class="col-md-10 container-fluid well">
            <br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Notifications</div>
        <div class="col-md-10 container-fluid well">
            <br><br><br>
        </div>
    </div>
    <br>
    <div class="text-right">
        <a class="btn btn-danger" href="/projects">
            <i class="fa fa-close"></i> Cancel
        </a>
        <button class="btn btn-success" ng-click="vm.save()">
            <i class="fa fa-save"></i> Save Project
        </button>
    </div>
    <br>
</div>