<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> > <a href="/projects"><i class="fa fa-folder-open"></i> Projects</a> > <i class="fa fa-edit"></i> {{vm.id ? 'Edit' : 'New'}}
</div>
<div class="text-left" class="form-group" ng-if="!vm.loading">
    <h2><i class="fa fa-folder-open"></i> {{vm.id ? 'Edit Project' : 'New Project'}}</h2>
    <br>
    <div class="row">
        <div class="col-md-2 well-header">General</div>
        <div class="col-md-10 container-fluid well">
            <p>General project settings and configurations.</p><br>
            <label>Name</label>
            <input class="form-control" type="text" ng-model="vm.project.name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Authentication</div>
        <div class="col-md-10 container-fluid well">
            <p>Methods of authentication to run commands on the servers configured below.</p><br>
            <div class="form-group" style="max-width:250px;">
                <label for="authType">Authentication Type:</label>
                <select class="form-control" id="authType">
                    <option>Username and Password</option>
                    <option>SSH Key</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Servers</div>
        <div class="col-md-10 container-fluid well">
            <p>List of servers the commands below will be executed on.</p>
            <br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 well-header">Steps</div>
        <div class="col-md-10 container-fluid well">
            <p>Commands to be executed on the configured servers.</p><br>
            <div ng-repeat="(index, step) in vm.project.steps">
                <label>Step #{{index+1}}</label> <button ng-click="vm.removeStep(index)" class="btn btn-danger btn-xs" style="float:right;"><i class="fa fa-close"></i></button>
                <textarea class="form-control" rows="4" ng-model="vm.project.steps[index].commands"></textarea>
                <br>
            </div>
            <div class="text-right">
                <button class="btn btn-success" ng-click="vm.addStep()">
                    <i class="fa fa-plus"></i> Add Step
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="text-right">
        <a class="btn btn-danger" href="/projects">
            <i class="fa fa-close"></i> Cancel
        </a>
        <button class="btn btn-success" ng-click="vm.save()">
            <i class="fa fa-save"></i> Save Project
        </button>
    </div>
    <br>
</div>