<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> > <i class="fa fa-folder-open"></i> Projects
</div>
<div class="text-left">
    <h2><i class="fa fa-folder-open"></i> Projects</h2>
    <div class="container-fluid well" ng-repeat="(index, project) in vm.projects">
            <div class="well-header">{{project.name}}</div>
            <div class="row">
                <div class="col-md-6">
                    <pd-status status="project.status"></pd-status>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary" ng-click="vm.viewProject(project._id)">
                        <i class="fa fa-info-circle"></i> View
                    </button>
                    <button class="btn btn-primary" ng-click="vm.editProject(project._id)">
                        <i class="fa fa-edit"></i> Configure
                    </button>
                    <button class="btn btn-danger" ng-click="vm.deleteProject(project._id)">
                        <i class="fa fa-close"></i> Delete
                    </button>
                </div>
            </div>
    </div>
    <br>
    <div class="text-right">
        <a class="btn btn-success" href="/projects/new">
            <i class="fa fa-plus"></i> New Project
        </a>
    </div>
</div>