<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> >
    <a href="/projects"><i class="fa fa-folder-open"></i> Projects</a> >
    <a href="/projects/view/{{vm.id}}"><i class="fa fa-info-circle"></i> View</a> >
    <a href="/projects/view/{{vm.id}}/logs"><i class="fa fa-list"></i> Logs</a> >
    <i class="fa fa-info-circle"></i> Execution #{{vm.log.execution}}
</div>
<div class="text-left" class="form-group" ng-if="!vm.loading">
    <h2><i class="fa fa-list"></i> {{vm.project.name}} Execution #{{vm.log.execution}}</h2>
    <div class="well">
        <pd-status status="vm.log.status"></pd-status>
        <h4>Triggered {{vm.log.trigger ? 'by ' + vm.log.trigger : 'automatically'}}.</h4>
    </div>
    <h3 ng-if="vm.log.error" class="bg bg-danger text-danger">
        <i class="fa fa-close"></i> Failed to deploy project: {{vm.log.error}}
    </h3>
    <div>
        <h2>Execution Log</h2>
        <div ng-if="!vm.logs || vm.logs.length <= 0" class="well text-center">
            <h3>This project does not have any logs.</h3>
        </div>
        <div ng-if="vm.logs" ng-repeat="(index, server) in vm.logs">
            <label>Server #{{server.index+1}}: {{server.host}}</label>
            <div class="well">
                <div ng-repeat="(index, log) in server.logs">
                    <label>Step #{{log.index+1}}</label>
                    <pre ng-class="{'bg-info': log.code == 0 || log.code == undefined, 'bg-danger': log.code > 0}">{{log.step.commands|consoleOutput}}<br>{{log.output}}<span ng-if="log.code > 0">Exit Code: {{log.code}}</span><i ng-if="log.code === undefined" class="fa fa-refresh fa-spin"></i></pre>
                </div>
            </div>
        </div>
    </div>
</div>