<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> >
    <a href="/projects"><i class="fa fa-folder-open"></i> Projects</a> >
    <a href="/projects/view/{{vm.id}}"><i class="fa fa-info-circle"></i> View</a> >
    <i class="fa fa-list"></i> Logs
</div>
<div class="text-left" class="form-group" ng-if="!vm.loading">
    <h2><i class="fa fa-list"></i> {{vm.project.name}} Logs</h2>
    <div ng-if="!vm.logs || vm.logs.length <= 0" class="well text-center">
        <h3>This project does not have any executions.</h3>
    </div>
    <div ng-if="vm.logs && vm.logs.length > 0" ng-repeat="log in vm.logs">
        <a href="/projects/view/{{vm.id}}/logs/{{log.execution}}" ng-click="vm.viewLog($event, log)" style="color:inherit;">
            <div class="well log-entry row">
                <div class="col-sm-6" style="font-size:20px;">
                    <span>Execution #{{log.execution}}</span>
                    <br>
                    <span>Triggered {{log.trigger ? 'by ' + log.trigger : 'automatically'}}.</span>

                </div>
                <div class="col-sm-6 text-right">
                    <pd-status status="log.status"></pd-status>
                    <span style="font-size:18px;">{{log.updated|date:'medium'}}</span>
                </div>
            </div>
        </a>
    </div>
</div>