<div class="breadcrumb">
    <a href="/"><i class="fa fa-tachometer"></i> Dashboard</a> > <a href="/projects"><i class="fa fa-folder-open"></i> Projects</a> > <i class="fa fa-info-circle"></i> View
</div>
<div class="text-left" class="form-group" ng-if="!vm.loading">
    <h2><i class="fa fa-folder-open"></i> {{vm.project.name}}</h2>
    <div class="well">
        <pd-status status="vm.project.status"></pd-status>
        <br>
        <div class="text-left">
            <button class="btn btn-success" ng-click="vm.runProject()" ng-disabled="vm.project.status === 'running'">
                <i class="fa fa-play"></i> Run
            </button>
            <button class="btn btn-primary" ng-click="vm.editProject()" ng-disabled="vm.project.status === 'running'">
                <i class="fa fa-edit"></i> Configure
            </button>
            <button class="btn btn-danger" ng-click="vm.deleteProject()" ng-disabled="project.status === 'running'">
                <i class="fa fa-close"></i> Delete
            </button>
        </div>
    </div>
    <h3 ng-if="vm.project.error" class="bg bg-danger text-danger">
        <i class="fa fa-close"></i> Failed to deploy project: {{vm.project.error}}
    </h3>
    <div ng-if="vm.logs">
        <h2>Run Logs</h2>
        <div ng-repeat="(index, server) in vm.logs">
            <label>Server #{{server.index+1}}: {{server.host}}</label>
            <div class="well">
                <div ng-repeat="(index, log) in server.logs">
                    <label>Step #{{log.index+1}}</label>
                    <pre ng-class="{'bg-info': log.code == 0 || log.code == undefined, 'bg-danger': log.code > 0}">{{log.step.commands|consoleOutput}}<br>{{log.output}}<span ng-if="log.code > 0">Exit Code: {{log.code}}</span><i ng-if="log.code === undefined" class="fa fa-refresh fa-spin"></i></pre>
                </div>
            </div>
        </div>
    </div>
</div>